<ion-content>
  <div class="ion-padding full-height">

    <div *ngIf="showMenu">
      Activity

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Recent</ion-card-subtitle>
          <ion-card-title>Yesterday </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Here you can check the yesterday status
        </ion-card-content>
        <div class="ion-margin-horizontal ion-text-right">
          <ion-button fill="outline" slot="end">View</ion-button>
        </div>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Past</ion-card-subtitle>
          <ion-card-title>Total History</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          You can see all your past Emotional Moments.

        </ion-card-content>
        <div class="ion-margin-horizontal ion-text-right">
          <ion-button fill="outline" slot="end" (click)="fullHistory()">View</ion-button>
        </div>

      </ion-card>
    </div>

      <ion-list [inset]="true" *ngIf="showHistory">
        <ion-item-divider class="ion-text-center"><h2>History</h2></ion-item-divider>
        <ion-item *ngFor="let ode of odes">
          <ion-card>
            <ion-card-header>
              <ion-card-title> {{ ode.updated_at | date:"MMMM d, y, h:mm a" }} </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Angry:{{ode.angry}}, Affection: {{ode.affection}}, Crying: {{ode.crying}},
              Doubt: {{ode.doubt}}, Depression: {{ode.depression}}, Emotion:{{ode.emotion}}, Jealous: {{ode.jealous}}
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
      
    <div *ngIf="showSlider">
      <h2 class="ion-text-center">How was the Day {{ today | date:'mediumDate' }}</h2>

      <ion-slides [options]="slideOpts" (ionSlideTap)="ionSlideTap($event)" >
        <ion-slide *ngFor="let slide of slideItems">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="row flex-spaces child-borders border-warning hw400">
                  <h1 style="font-size: 28px;" class="badge warning">{{slide.name}}</h1>
                  <div class="col shadow shadow-hover text-secondary border-warning hw300">
                    <p>{{slide.description}}</p>
                    <span class="ec {{slide.icon}} ec-full"></span>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button class="btn-success pad1" (click)="buttonTap(slide.name,'0')"><span class="ec ec-plus1"></span></button>
                <button class="btn-warning pad1" (click)="buttonTap(slide.name,'2')"><span class="ec ec-balance-scale"></span></button>
                <button class="btn-danger pad1" (click)="buttonTap(slide.name,'1')"><span class="ec ec--1"></span></button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <div class="row flex-spaces child-borders border-warning hw400">
          <div class="alert alert-danger">{{slide.name}}</div>
          <div class="col shadow shadow-hover text-secondary border-warning hw300">
            <p>{{slide.description}}</p>
            <span class="ec {{slide.icon}} ec-full"></span>
          </div>

        </div>
        <div class="row flex-spaces child-borders">
          <div class="col">
            <button class="btn-success pad1"><span class="ec ec-plus1"></span></button>
            <button class="btn-warning pad1"><span class="ec ec-balance-scale"></span></button>
            <button class="btn-danger pad1"><span class="ec ec--1"></span></button>
          </div>
        </div> -->

        </ion-slide>
      </ion-slides>

    </div>
  </div>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="fabClicked()" *ngIf="!showHistory">
    <ion-fab-button *ngIf="!showSlider">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="showSlider">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="fabHisClicked()" *ngIf="showHistory">
    <ion-fab-button>
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>