.ec-full{
        font-size: 5em;
}
div{
    font-family:'Patrick Hand SC';
}
.pad1 {
    margin: 10px;
    border-radius: 50px;
}
.hw400{
    width: 95%;
}
.bg-dark{
    background-color: #989aa2;
}
.bg-yellow{
    background:  #ffd31a;
}
.color-yellow{
    color: #ffd31a;
}
.color-red{
    color: #ec2020;
}
.full-height{
    height: 100%;
}
ion-slides {
    --bullet-background: #eee;
    --bullet-background-active: #000;

    ion-slide {
      height: 500px !important;
    }
}